html,body { 
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    background: url(../images/login_bg.jpg) no-repeat center;
    background-size: cover ;
}

.loginAndRegBox {
    position: absolute;
    width: 400px;
    height: 310px;
    background-color: #fff;
    /* 这是一种居中的方法，但是外边距占用了很多位置， */
    /* margin: 100px auto; */
    /* 使用定位将其居中，但是不占用其他位置 */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.title-box {
    height: 60px;
    background: url(..//images/login_title.png) no-repeat center;
}

.reg-box {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-size: 12px;
}

.layui-form-item {
    position: relative;
}

.layui-form-item .layui-icon {
    position: absolute;
    top: 9px;
    left: 10px;
}

.layui-form-item .layui-input {
    padding-left: 33px;
}